.back-page {
  position: absolute;
  left: 55%;
  top: 10%;
  transform-style: preserve-3d;
  transition: 2s;
  transform-origin: left;
}

.back-page-front,
.back-page-back {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  backface-visibility: hidden;
}

.back-page-front {
  padding: 3rem;
}

.message-address {
  align-self: flex-start;
  margin-bottom: 3rem;
}

.message-content {
  flex: 1;
  margin-bottom: 3rem;
  padding: 1rem;
  font-size: 2rem;
  text-indent: 3rem;
  word-wrap: break-word;
  overflow-y: auto;
}

.message-signature {
  align-self: flex-end;
}

/* card back page back */
.back-page-back {
  justify-content: center;
  align-items: center;
  width: 100%;
  transform: rotateY(180deg);
}

.closing-header {
  font-size: 2rem;
}

.closing-media {
  background-color: black;
  width: 80%;
  height: 400px;
}
