.card-container {
  perspective: -1000px;
}

.card-container:hover .back-page {
  transform: rotateY(-180deg);
}

.card-container:hover .cover-page {
  transform: rotateY(180deg);
}

.card {
  background-color: rgb(255, 209, 209);
  height: 70%;
  min-height: 1126px;
  width: 800px;
  box-shadow: 10px 20px 20px 10px rgba(126, 126, 126, 0.164);
  transform-style: preserve-3d;
}
