.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: rgb(255, 209, 209);
  height: 70%;
  min-height: 1126px;
  width: 800px;
  box-shadow: 10px 20px 20px 10px rgba(126, 126, 126, 0.164);
  /* min-width: 800px; */
  /* margin: auto 0; */

  transform-style: preserve-3d;
}

.card-close {
  transform: rotateY(-180deg);
}

.card-open {
  transform: rotateY(180deg);
}
