.card-container {
  display: flex;
  height: 100vh;
  justify-content: center;
}

.card {
  background-color: rgb(255, 209, 209);
  height: 70%;
  min-height: 1126px;
  min-width: 800px;
  width: 800px;
  margin: auto 0;
  box-shadow: 10px 20px 20px 10px rgba(126, 126, 126, 0.164);

  position: relative;
  transform-style: preserve-3d;
  transition: 2s;
}

.cover-page-back {
  transform-origin: right;
  backface-visibility: hidden;
}

.back-page-front {
  transform-origin: left;
}

.card-close {
  transform: rotateY(-180deg);
}

.card-open {
  transform: rotateY(180deg);
}

/* message page */

.message-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  padding: 3rem;
}

.message-address {
  align-self: flex-start;
  margin-bottom: 3rem;
}

.message-content {
  flex: 6;
  text-indent: 3rem;
  font-size: 2rem;
  word-wrap: break-word;
  overflow-y: scroll;
  margin-bottom: 3rem;
}

.message-signature {
  align-self: flex-end;
}
