.polaroid-container {
  background-color: white;
  height: 500px;
  width: 400px;
  position: absolute;
  text-align: center;
}

.polaroid-picture {
  padding: 1rem 0;
  height: 80%;
  width: 90%;
  margin: auto;
  object-fit: cover;
}
